{% extends "./base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row" style="text-align: center;">
        <div class="col-12">
            <form action="/wordcloud/" method="post" class="form">
                {% csrf_token %}
                {{ wc_form|crispy }}
                <input type="submit" class="btn btn-success" value="Generate">
            </form>
            <div class="col-12">
                {% if wc %}
                    <img src="data:image/png;base64,{{ wc|safe }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}